<div class="panel panel-default content" [@routerTransition]>
    <div class="panel-heading">
      <label>Contact 1</label>
      <span class="pull-right">
        <span class="pull-right">
          <button class="btn btn-default  btn-xs"><i class="fa fa-pencil" aria-hidden="true"></i>
            Edit</button>
        </span>
      </span>
    </div>
    <div class="panel-body no-padding">
      <div class="col-lg-6 col-sm-6 form-group">
          <div class="row">
            <label class="col-lg-4 col-sm-4 font-weight-normal">Nom</label>
            <label>Rafaël Patrick</label>
          </div>
          <div class="row">
            <label class="col-lg-4 col-sm-4 font-weight-normal">Qualité</label>
            <label>Dirigeant</label>
          </div>
      </div>
      <div class="col-lg-6 col-sm-6 form-group">
          <div class="row">
            <label class="col-lg-4 col-sm-4 font-weight-normal">Mail Pro</label>
            <label>tes@tes.com</label>
          </div>
          <div class="row">
            <label class="col-lg-4 col-sm-4 font-weight-normal">Tel</label>
            <label>07 22 44 33 21</label>
          </div>
      </div>
    </div>
  </div>