<div class="panel panel-default content" [@routerTransition]>
  <div class="panel-heading">
    <label>Contact 2</label>
    <span class="pull-right">
      <span class="pull-right">
        <button class="btn btn-default  btn-xs"><i class="fa fa-pencil" aria-hidden="true"></i>
          Edit</button>
      </span>
    </span>
  </div>
  <div class="panel-body no-padding">
    <div class="col-lg-12">
      <div class="no-item">
        Pas d'autre contact
      </div>
    </div>
  </div>
</div>