<div class="panel panel-default content" *ngIf="mission" [@routerTransition]>
    <div class="panel-heading">
      <label><strong>Intervention</strong></label>
      <span class="pull-right">
        <span class="pull-right">
          <button class="btn btn-default  btn-xs" (click)="openEdit(mission)" ><i class="fa fa-pencil" aria-hidden="true"></i>
          Edit</button>
        </span>
      </span>
    </div>
    <div class="panel-body no-padding">
      <div class="col-lg-6 col-sm-6 form-group">
          <div class="row">
            <label class="col-lg-4 col-sm-4 font-weight-normal">Prochain passage</label>
            <strong>{{mission.rdvDate | date:"short"}}</strong>
          </div>
          <div class="row">
            <label class="col-lg-4 col-sm-4 font-weight-normal">Récurrence</label>
            <label *ngIf="mission.besoin.typeBesoin != 'RECURRENT'">Non</label>
            <label *ngIf="mission.besoin.typeBesoin == 'RECURRENT'">Oui</label>
          </div>
      </div>
      <div class="col-lg-6 col-sm-6 form-group">
          <div class="row">
            <label class="col-lg-4 col-sm-4 font-weight-normal">Fr&eacute;quence</label>
            <strong>nc</strong>
          </div>
          <div class="row">
            <label class="col-lg-4 col-sm-4 font-weight-normal">Premier RDV</label>
            <strong>nc</strong>
          </div>
      </div>
    </div>
  </div>
