<div class="content panel panel-default" [@routerTransition]>
  <app-table-header [dataTableResult]="dataTableResult"></app-table-header>
  <div class="row">
    <div class="col-lg-12 table-responsive">
      <table #dataTable class="table table-hover compact" width="100%">
        <thead>
          <tr>
            <th class="th-sm">NOM
            </th>
            <th class="th-sm">PRENOM
            </th>
            <th class="th-sm">EMAIL
            </th>
            <th class="th-sm">TELEPHONE
            </th>
            <th class="th-sm">DATE DE CREATION
            </th>
          </tr>
        </thead>
        <tbody>

        </tbody>
      </table>
    </div>
  </div>
</div>