<div class="panel panel-default content" *ngIf="mission" [@routerTransition]>
    <div class="panel-heading">
      <label><strong>Détails Commande</strong></label>
      <span class="pull-right">
        <span class="pull-right">
          <button class="btn btn-default  btn-xs" ><i class="fa fa-pencil" aria-hidden="true"></i>
          Edit</button>
        </span>
      </span>
    </div>
    <div class="panel-body no-padding">
      <div class="col-lg-6 col-sm-6 form-group">
          <div class="row">
            <label class="col-lg-4 col-sm-4 font-weight-normal">ID</label>
            <strong>{{mission.id}}</strong>
          </div>
          <div class="row">
            <label class="col-lg-4 col-sm-4 font-weight-normal">Type</label>
            <strong>{{mission.typeClient.typeClient}}</strong>
          </div>
      </div>
      <div class="col-lg-6 col-sm-6 form-group">
          <div class="row">
            <label class="col-lg-4 col-sm-4 font-weight-normal">Besoin</label>
            <strong>{{mission.typeCompetences[0]}}</strong>
          </div>
          <div class="row">
            <label class="col-lg-4 col-sm-4 font-weight-normal">Dur&eacute;e</label>
            <strong>{{mission.dureePrestation}}</strong>
          </div>
      </div>
    </div>
  </div>