<div class="login-content" [@routerTransition]>
    <div class="row justify-content-md-center">
        <div class="col-md-6">
            <img class="user-avatar" src="assets/images/logo.png" width="150px" />
            <h2><strong>Creation de comptes</strong></h2>
            <form role="form" [formGroup]="signupForm" >
                <div class="form-content">
                    <div class="form-group">
                        <input type="text" formControlName="fullname" class="form-control input-underline input-lg" id="fullname" name="fullname" [(ngModel)]="user.fullname" placeholder="Nom et Prenom ">
                        <span class="text-danger" *ngIf="!signupForm.get('fullname').valid && signupForm.get('fullname').touched ">Entrez votre nom et prenom </span>
                    </div>

                    <div class="form-group">
                        <input type="text" formControlName="username" class="form-control input-underline input-lg" id="username" name="username" [(ngModel)]="user.username" placeholder="Nom utilisateur">
                        <div class="text-danger" *ngIf="!signupForm.get('username').valid && signupForm.get('username').touched ">Entrez votre nom utilisateur </div>
                    </div>

                    <div class="form-group">
                        <input type="number" formControlName="phoneNumber" class="form-control input-underline input-lg" id="phoneNumber" name="phoneNumber" [(ngModel)]="user.phoneNumber" placeholder="Numero de telephone">
                        <div class="text-danger"
                         *ngIf="!signupForm.get('phoneNumber').valid && signupForm.get('phoneNumber').touched ">
                            <div *ngIf="signupForm.controls.phoneNumber.errors.required" >Entrez votre numero de telephone </div>                        </div>
                    </div>

                    <div class="form-group">
                        <input type="text" formControlName="email" class="form-control input-underline input-lg" id="email" name="email" [(ngModel)]="user.email" placeholder="Email">
                        <div class="text-danger" *ngIf="!signupForm.get('email').valid && signupForm.get('email').touched">
                            <div *ngIf="signupForm.controls.email.errors.hasEmail"> Votre email n'est pas valide</div>
                            <div *ngIf="signupForm.controls.email.errors.required">Entrez votre email</div>
                        </div>
                    </div>

                    <div class="form-group" >
                        <select   class="form-control .custom-select-lg" formControlName="profile"  [(ngModel)]="user.profil">
                            <option [ngValue]="profile"  *ngFor="let profile of keys(profiles)">{{profile}}</option>
                            
                        </select>
                    </div>
                     
                    <div class="form-group">
                            <show-hide-password size="sm" icon="fontawesome" btnStyle="secondary" [btnOutline]="false">
                                <input type="password" formControlName="password" class="form-control input-underline input-lg" id="password" name="password" [(ngModel)]="user.password" placeholder="Mot de passe">
                            </show-hide-password>

                            <div class="text-danger" *ngIf="!signupForm.get('password').valid && (signupForm.get('password').touched)">
                                <div *ngIf="signupForm.controls.password.errors.required">Le mot de passe est requis</div>
                                <div *ngIf="signupForm.controls.password.errors.strong" > Le mot de passe doit contenirune lettre majuscule </div>  
                                <div *ngIf="signupForm.controls.password.errors.lower"> Le mot de passe doit contenir une lettre minuscule</div>
                                <div *ngIf="signupForm.controls.password.errors.number">Le mot de passe doit contenir un nombre</div>
                                <div *ngIf="signupForm.controls.password.errors.special"> Le mot de passe doit contenir un caractère special </div>
                                <div *ngIf="signupForm.controls.password.errors.eight"> Le mot de passe doit contenir au moins 8 caractères</div>

                            </div>
                    </div>

                    <div class="form-group">
                            <show-hide-password size="sm" icon="fontawesome" btnStyle="secondary" [btnOutline]="false">
                                <input type="password" formControlName="repeatPassword" class="form-control input-underline input-lg" id="repeatPassword" name="repeatPassword"  placeholder="Retapez mot de passe" required compare="password">
                            </show-hide-password>
                            
                            <div class="text-danger" *ngIf="!signupForm.get('repeatPassword').valid && signupForm.get('repeatPassword').touched">
                                    
                                    <div *ngIf="signupForm.controls.repeatPassword.errors['required']"> Retapez votre mot de passe</div>
        
                                    <div *ngIf="signupForm.controls.repeatPassword.errors['compare']">Les mots de passe ne correspondent pas</div>
                            </div>
                    </div>

                </div>
                <a class="btn btn-secondary"  *ngIf="signupForm.valid" (click)="onRegister()" > Register </a>
            </form>
        </div>
    </div>
</div>
