<div class="content panel panel-default" [@routerTransition]>
    <app-table-header [dataTableResult]="dataTableResult" [add]="true" (click_add)="add()"></app-table-header>
    <div class="row">
      <div class="col-lg-12 table-responsive">
        <table #dataTable class="table table-hover compact" width="100%">
          <thead>
            <tr>
              <th class="th-sm">NOM UTILISATEUR
              </th>
              <th class="th-sm">EMAIL
              </th>
              <th class="th-sm">TÉLÉPHONE
              </th>
              <th class="th-sm">CREATION
              </th>
              <th class="th-sm">PROFIL
              </th>
            </tr>
          </thead>
          <tbody>
  
          </tbody>
        </table>
      </div>
    </div>
  </div>