<nav class="navbar navbar-expand-lg fixed-top">
    <a class="navbar-brand user-avatar"></a>
    <a class="" href="client/home"></a>kliner.fr
    
    <div class="btn-group">
            <a href="javascript:void(0)" class="dropdown" data-toggle="dropdown" ngbDropdown>
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu pull-left" role="menu">
                <li><a class="dropdown-item" href="javascript:void(0)">
                        <i class="fa fa-fw fa-user"></i> {{ 'Profile' | translate }}
                    </a>
                </li>
                <li><a class="dropdown-item" [routerLink]="['/login']" (click)="onLoggedout()">
                        <i class="fa fa-fw fa-power-off"></i> {{ 'Deconnexion' | translate }}
                    </a>
                </li>
            </ul>
        </div>
    <button class="navbar-toggler" type="button" (click)="toggleSidebar()">
        <span class="navbar-toggler-icon"></span>
        <i class="fa fa-bars text-muted" aria-hidden="true"></i>
    </button>
    <div class="collapse navbar-collapse">
        <div>
            <form class="navbar-form" role="search">
                    <input type="text" class="fa fa-search form-control navbar-form-input input-xs" placeholder="Search" name="q">
            
                    <label class="btn input-xs"><i class="fa fa-search" aria-hidden="true"></i></label>
                </form>
        </div>
    </div>
</nav>