<div class="panel panel-default content">
    <div class="panel-heading">
      <label>Events</label>
  
      <span class="pull-right">
      </span>
    </div>
    <div class="panel-body no-padding">
      <div class="col-lg-12 no-padding">
          <span class="pull-left">
            Prestation démarrée le 22/10/2018 à 11:52
            </span>
            <span class="pull-right">
               23/12/2018  11:52:59
            </span>
      </div>
    </div>
  </div>
  