<div class="row">
  <div class="col-lg-6 text-left btn-filter">
    <button class="btn btn-default btn-xs" (click)="activefilter()"> <i class="fa fa-filter"></i> Filter</button>
    &nbsp;
    <input type="text" class="form-control col-lg-9 input-xs" id="global_filter" 
    (keyup)="filterGlobal()" *ngIf="searching" autofocus>
  </div>
  <div class="col-lg-6 text-right btn-export">
          <div class="btn-group" *ngIf="add">
              <button type="button" class="btn btn-default btn-xs" (click)="addclick()"> 
                  <i class="fa fa-plus"></i> 
                  Ajouter
                </button>&nbsp;
              <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-angle-double-right"></i> 
                Export
              </button>
              <ul class="dropdown-menu pull-right" role="menu">
                  <li><a (click)="exportpdf()"><i class="fa fa-file-pdf-o"></i> Print</a>
                  </li>
                  <li><a (click)="exportexcel()"><i class="fa fa-file-excel-o"></i> Excel</a>
                  </li>
              </ul>
          </div>
  </div>
</div>