<div class="content panel panel-default" [@routerTransition]>
    <app-table-header [dataTableResult]="dataTableResult"></app-table-header>
    <div class="row">
      <div class="col-lg-12 table-responsive">
        <table #dataTable class="table table-hover compact" width="100%">
          <thead>
            <tr>
              <th class="th-sm">Nom
              </th>
              <th class="th-sm">Prenom
              </th>
              <th class="th-sm th-5-">Tel
              </th>
              <th class="th-sm">Mail
              </th>
              <th class="th-sm">Sexe
              </th>
            </tr>
          </thead>
          <tbody>
  
          </tbody>
        </table>
      </div>
    </div>
  </div>