<div class="panel panel-default content">
  <div class="panel-heading">
    <label>Infos client</label>
    <span class="pull-right">
      <span class="pull-right">
        <button class="btn btn-default  btn-xs"><i class="fa fa-pencil" aria-hidden="true"></i>
          Edit</button>
      </span>
    </span>
  </div>
  <div class="panel-body no-padding">
    <div class="col-lg-6">
      <table class="col-lg-6">
        <tr>
          <td>Prénom</td>
          <th>Altman</th>
        </tr>
        <tr>
          <td>Nom</td>
          <th>Merbon</th>
        </tr>
      </table>
    </div>
    <div class="col-lg-6">
      <table class="col-lg-6">
        <tr>
          <td>Mail</td>
          <th>altman@gmail.com</th>
        </tr>
        <tr>
          <td>Tel</td>
          <th>+(1) 3365821452</th>
        </tr>
      </table>
    </div>
  </div>
</div>
