<div class="panel panel-default content">
    <div class="panel-heading">
      <label>Facturation</label>
  
      <span class="pull-right">
        <button class="btn btn-default  btn-xs"><i  aria-hidden="true"></i>
          Voir facture</button>&nbsp;
          <button class="btn btn-default  btn-xs" ><i aria-hidden="true"></i>
            Envoyer facture</button>
      </span>
    </div>
    <div class="panel-body no-padding">
      <div class="col-lg-12 no-padding">
        <table class="table col-lg-12 no-padding no-margin">
          <thead>
            <tr>
              <th>MONTANT</th>
              <th>NUMERO DE FACTURE</th>
              <th>STATUT</th>
              <th>CRÉÉE LE</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>86.50$</td>
              <td>JDAKJDJASDE9321</td>
              <td>Payé</td>
              <td>25/10/24</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  