
<div class="login-page" [@routerTransition]>
<div class="logo">Kliner SAS</div>
<div class="help"><i class="fa fa-question-circle"></i></div>
    <div class="col-lg-12 login-page-content">
        <div class="row justify-content-md-center">
            <div class="col-lg-3 col-sm-4">
                <form role="form" [formGroup]="loginForm">
                    <div class="form-group col-md-12 login-content">
                        <div class="form-group">
                            <input type="email" formControlName="email" [(ngModel)]="email" class="form-control login-email"
                                id="email" placeholder="Email" required>
                            <span class="text-danger" *ngIf="!loginForm.get('email').valid && loginForm.get('email').touched">Entrez
                                votre email </span>
                            <show-hide-password size="sm" icon="fontawesome" btnStyle="secondary" [btnOutline]="false">
                                <input type="password" class="form-control login-password" id="password" [(ngModel)]="password"
                                    formControlName="password" placeholder="Mot de passe" autocomplete="new-password"
                                    required>
                            </show-hide-password>
                            <span class="text-danger" *ngIf="!loginForm.get('password').valid && loginForm.get('password').touched">Entrez
                                votre mot de passe </span>
                        </div>
                        <div class="form-group text-center">
                            <button routerLink="/dashboard" class="btn input-xs btn-connexion" (click)="onLogin()"><i
                                    class="fa fa-arrow-circle-right" aria-hidden="true"></i></button>
                        </div>
                        <div class="form-group col-md-12 checkbox text-center">
                            <input mdbInputDirective class="form-check-input" formControlName="rememberMe" [(ngModel)]="rememberMe"
                                name="rememberMe" type="checkbox" id="inlineFormCheckMD">
                            <label class="form-check-label" for="inlineFormCheckMD">
                                Se souvenir de moi
                            </label>
                        </div>
                        <div class="col-md-12 text-center">
                            <small><a href="/mot-de-passe-oublie">Identifiant ou mot de passe oublié ?</a></small>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>