<form #addForm="ngForm" (ngSubmit)="add(addForm)" novalidate>
    <div class="panel panel-default content" [@routerTransition]>
      <div class="panel-heading panel-heading-height-auto">
        <i class="fa fa-home"></i>&nbsp;
        <label>Ajouter un prestataire</label>
      </div>
      <div class="panel-body modal-item-content">
        <div class="row">
          <div class="col-lg-4 text-right">
            <label class="label-form">Nom : </label>
          </div>
          <div class="col-lg-7">
            <input type="text" class="form-control" required name="fullname">
          </div>
        </div><br>
        <div class="row">
          <div class="col-lg-4 text-right">
            <label class="label-form">Numero de Telephone:</label>
          </div>
          <div class="col-lg-7">
            <input type="text" class="form-control" required name="phoneNumber" >
          </div>
        </div><br>
        <div class="row"> 
            <div class="col-lg-4 text-right">
              <label class="label-form">Societe : </label>
            </div>
            <div class="col-lg-7">
              <input type="text" class="form-control" required name="societe" >
            </div>
        </div>
      </div>
      <div class="panel-footer text-right">
        <button class="btn btn-success">Ajouter</button>&nbsp;
        <button class="btn btn-danger" (click)="activeModal.close('Close click')">Quitter</button>
      </div>
    </div>
  </form>
