<form #updateForm="ngForm" (ngSubmit)="update(updateForm)" novalidate>
  <div class="panel panel-default content" [@routerTransition]>
    <div class="panel-heading panel-heading-height-auto">
      <i class="fa fa-user"></i>&nbsp;
      <label>Infos partenaire</label>
    </div>
    <div class="panel-body modal-item-content">
      <div class="row form-group">
        <label class="label-form col-lg-3 text-right">Société : </label>
        <input type="text" class="form-control col-lg-8" required name="societe" [(ngModel)]="partenaire.societe"
          #societe="ngModel">
      </div>
      <div class="row form-group">
        <label class="label-form col-lg-3 text-right">Adresse : </label>
        <input type="text" class="form-control col-lg-8" required name="adresse" [(ngModel)]="partenaire.adresse"
          #adresse="ngModel">
      </div>
      <div class="row form-group">
        <label class="label-form col-lg-3 text-right">Profil : </label>
        <input type="text" class="form-control col-lg-8" required name="profil">
      </div>
      <div class="row form-group">
        <label class="label-form col-lg-3 text-right">Sp&eacute;cialit&eacute; : </label>
        <div class="row col-lg-8">
          <select name="newcompetence" id="newcompetence" [(ngModel)]="newcompetence" class="form-control col-lg-12" (click)="add()">
              <option value=""></option>
              <option value="LCD">LCD</option>
              <option value="PART">PART</option>
              <option value="PRO">PRO</option>
          </select>
          <div class="margin-top-1">
          <div *ngFor="let competence of partenaire.competences" class="ville cursor-pointer" (click)="delete(competence)">{{competence}} <i class="fa fa-close"></i></div>
        </div></div>
      </div>
      <div class="row form-group">
        <label class="label-form col-lg-3 text-right">Siren : </label>
        <input type="text" class="form-control col-lg-8" required name="siren">
      </div>
      <div class="row form-group">
        <label class="label-form col-lg-3 text-right">Num&eacute;ro TVA : </label>
        <input type="text" class="form-control col-lg-8" required name="numerotva">
      </div>
      <div class="row form-group">
        <label class="label-form col-lg-3 text-right">IBAN : </label>
        <input type="text" class="form-control col-lg-8" required name="iban">
      </div>
      <div class="row form-group">
        <label class="label-form col-lg-3 text-right">BIC : </label>
        <input type="text" class="form-control col-lg-8" required name="bic">
      </div>
      <div class="row form-group">
        <label class="label-form col-lg-3 text-right">Agr&eacute;ment NOVA : </label>
        <input type="text" class="form-control col-lg-8" required name="agrementnova">
      </div>
    </div>
    <div class="panel-footer text-right">
      <button class="btn btn-success" (click)="update(updateForm)">Valider</button>&nbsp;
      <button class="btn btn-danger" (click)="activeModal.close('Close click')">Quitter</button>
    </div>
  </div>
</form>