<div class="panel panel-default content" *ngIf="mission" [@routerTransition]>
    <div class="panel-heading">
      <label><strong>Prestataire </strong></label>
      <span class="pull-right">
        <span class="pull-right">
          <button class="btn btn-default  btn-xs" ><i class="fa fa-plus" aria-hidden="true"></i>
            Envoyer un sms</button>&nbsp;
            <button class="btn btn-default  btn-xs" (click)="addPrestataire()"><i class="fa fa-plus" aria-hidden="true"></i>
              Affecter</button>
        </span>
      </span>
    </div>
    <div class="panel-body no-padding">
        <table class="table no-margin no-padding" >
          <thead>
            <tr >
              <td>NOM</td>
              <td>TEL</td>
              <td>PARTENAIRE</td>
              <td>NOTE</td>
              
            </tr>
          </thead>
          <tbody  >
            <tr *ngIf="mission.aidemenagere != null" >
              <th>{{mission.aidemenagere.fullname}}</th>
              <th>{{mission.aidemenagere.phoneNumber}}</th>
              <th>{{mission.aidemenagere.societe}}</th>
              <th>{{mission.evaluation}}</th>
              <td class="table-action-default">
                  <span class="pull-right-container">
                    <span class="label pull-right">
                      <button class="btn btn-default  btn-xs" (click)="delete(item.id)"> <i class="fa fa-delete">annuler</i></button>&nbsp;
                    </span>
                  </span>
                </td>
            </tr>
            <tr *ngIf="mission.partenaire != null" >
                <th>{{mission.partenaire.fullname}}</th>
                <th>{{mission.partenaire.phoneNumber}}</th>
                <th>{{mission.partenaire.societe}}</th>
                <th>{{mission.evaluation}}</th>
                <td class="table-action-default">
                    <span class="pull-right-container">
                      <span class="label pull-right">
                        <button class="btn btn-default  btn-xs" (click)="delete(item.id)"> <i class="fa fa-delete">annuler</i></button>&nbsp;
                      </span>
                    </span>
                </td>
            </tr>
          </tbody>
        </table>
    </div> 
  </div>
