<div class="panel panel-default content"  [@routerTransition]>
    <div class="panel-heading">
      <label><strong>Tarification </strong></label>
      <span class="pull-right">
        <span class="pull-right">
          <button class="btn btn-default  btn-xs" ><i class="fa fa-pencil" aria-hidden="true"></i>
            Update Details</button>
        </span>
      </span>
    </div>
    <div class="panel-body no-padding">
        <table class="table no-margin no-padding">
          <thead>
            <tr>
              <td>CLEINT</td>
              <td></td>
              <td>PARTENAIRE</td>
              <td></td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>TOTAL</td><th>48.00€</th><td>Total</td><th>36.00€</th>
            </tr>
            <tr>
              <td>Dont réduction</td><th>-8€|REDCDFGGGG</th><td>Dont Bonus</td><th>+5€|Qualité</th>
            </tr>
            <tr>
                <td>Dont Temps additionnel</td><th>11€|30min</th><td>Dont Pénalité</td><td></td>
            </tr>
            <tr>
                <td>Frais annulation</td><td></td><td></td><td></td>
            </tr>
          </tbody>
        </table>
    </div> 
  </div>
