<form #updateForm="ngForm" (ngSubmit)="update(updateForm)"  novalidate>
    <div class="panel panel-default content" [@routerTransition]>
      <div class="panel-heading panel-heading-height-auto">
        <i class="fa fa-book"></i>&nbsp;
        <label>Terminer la mission</label>
      </div>
      <div class="panel-body modal-item-content">
          <div class="row form-group">
            <label class="label-form col-lg-4 text-right">Temps commandé </label>
            <input type="text" class="form-control col-lg-7" value="{{mission.dureePrestation}}"   disabled>
          </div>
          <div class="row form-group">
            <label class="label-form col-lg-4 text-right">Temps effectué</label>
            <select  class="form-control col-lg-7" name="dureeEffectue" [(ngModel)]="finishMission.dureeEffectue" #dureeEffectue="ngModel">
                <option>{{mission.dureePrestation}}</option>
                <option *ngFor="let time of times" >
                  {{time}}
                </option>
            </select>
          </div>
          <div class="row form-group">
            <label class="label-form col-lg-4 text-right">Moyen de payement</label>
            <input type="text" class="form-control col-lg-7" required name="paiement" value="{{mission.paiement}}" disabled>
          </div>
          <div class="row form-group">
            <label class="label-form col-lg-4 text-right">Montant de base</label>
            <input type="text" class="form-control col-lg-7"  value="€{{mission.prixDeBase}}" >
          </div>
          <div class="row form-group">
              <label class="label-form col-lg-4 text-right">Intervenants</label>
              <input type="text" class="form-control col-lg-7" required name="intervenant" value="1" disabled>
          </div>
          <div class="row form-group">
              <label class="label-form col-lg-4 text-right">Total à facturer</label>
              <input type="text" class="form-control col-lg-7" required name="total" value="€{{mission.prixDeBase}}">
          </div>
      </div>
      <div class="panel-footer text-right">
        <button class="btn btn-secondary" (click)="activeModal.close('Close click')">Annuler</button>&nbsp;
        <button class="btn btn-success" (click)="update(updateForm)" >Valider</button>
      </div>
    </div>
  </form>