<div class="panel panel-default content" [@routerTransition]>
  <div class="panel-heading panel-heading-height-5">
    <div class="col-lg-6 col-sm-6 form-group no-padding no-margin">
      <label class="no-padding no-margin">{{partenaire.societe}}</label>
      <div>
        <button class="btn btn-default  btn-xs"> <i class="fa fa-plus"></i> Add note</button>
        &nbsp;
        <button class="btn btn-default  btn-xs"> . . .</button>
      </div>
    </div>
    <div class="col-lg-6 col-sm-6 form-group text-right no-padding no-margin">
      <label class="label display-inline-block label-primary">PARTENAIRE <i class=" fa fa-user"></i></label>
      <div>
        <button class="btn btn-default  btn-xs">T&eacute;l&eacute;charger contrat</button>
      </div>
    </div>
  </div>
  <div class="panel-body no-padding">

    <span class="label label-success pull-left"> <i class=" fa fa-user"></i></span>

    <div class="row col-lg-6 col-sm-6">
      <div class="col-lg-8 col-sm-8">
        Nouveau partenaire créer
      </div>
      <div class="col-lg-8 col-sm-8">
        {{'12/12/2017'|date:"short"}}
      </div>
    </div>
    <div class="row col-lg-6 col-sm-6 text-right">
        <div class="form-group margin-top-1 col-lg-12 col-sm-12 text-right no-margin no-padding">
            <button class="btn btn-success btn-xs" *ngIf="partenaire.enabled" (click)="enabled()">Actif</button>
            <button class="btn btn-danger btn-xs" *ngIf="!partenaire.enabled" (click)="enabled()">Desactif</button>
          </div>
    </div>
  </div>
</div>