* {
    -webkit-transition: margin-left 0.2s ease-in-out;
    -moz-transition: margin-left 0.2s ease-in-out;
    -ms-transition: margin-left 0.2s ease-in-out;
    -o-transition: margin-left 0.2s ease-in-out;
    transition: margin-left 0.2s ease-in-out;
}
.main-container {
    margin-top: 68px;
    //background-color: white;
    background-color: transparent;
    margin-left: 281px;
    -ms-overflow-x: hidden;
    overflow-x: hidden;
    position: static;
    overflow: hidden;
    border-radius: 5px;
    margin-right: 100px;
    margin-bottom: 100px;    
    //box-shadow: 0 5px 5px -3px rgba(0,0,0,.2), 0 8px 10px 1px rgba(0,0,0,.14), 0 3px 14px 2px rgba(0,0,0,.12);
}
.main-content{
    overflow: visible;
    max-height: none;
}
.main-content div{
    background-color: white;
}
.collapsed {
    margin-left: 100px;
}
@media screen and (max-width: 992px) {
    .main-container {
        margin-left: 10px !important;
        margin-right: 10px!important;
    }
}
@media print {
    .main-container {
        margin-top: 0px !important;
        margin-left: 0px !important;
    }
}
