<div class="panel panel-default content"  [@routerTransition]>
  <div class="panel-heading">
    <label>Infos client</label>
    <span class="pull-right">
      <span class="pull-right">
        <button class="btn btn-default  btn-xs" (click)="open()"><i class="fa fa-pencil" aria-hidden="true"></i>
          Edit</button>
      </span>
    </span>
  </div>
  <div class="panel-body no-padding">
    <div class="col-lg-6 col-sm-6 form-group">
        <div class="row">
          <label class="col-lg-4 col-sm-4 font-weight-normal">Nom</label>
          <label>{{client.fullname}}</label>
        </div>
        <div class="row">
          <label class="col-lg-4 col-sm-4 font-weight-normal">Pr&eacute;nom(s)</label>
          <label>{{client.lastName}}</label>
        </div>
    </div>
    <div class="col-lg-6 col-sm-6 form-group">
        <div class="row">
          <label class="col-lg-4 col-sm-4 font-weight-normal">Tel</label>
          <label>{{client.phoneNumber}}</label>
        </div>
        <div class="row">
          <label class="col-lg-4 col-sm-4 font-weight-normal">Email</label>
          <label>{{client.email}}</label>
        </div>
    </div>
  </div>
</div>