<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive, collapsed: collapsed}">
    <div class="list-group">
        <a routerLink="/dashboard" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-dashboard"></i>&nbsp;
            <span>{{ 'Dashboard' | translate }}</span>
        </a>
        <div class="header-fields">
            <form class="navbar-form" role="search">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search" name="q">
                </div>
            </form>
        </div>
        <div class="nested-menu">
            <a class="list-group-item" (click)="addExpandClass('pagesconfig')">
                <i class="fa fa-wrench"></i>&nbsp;
                <span>{{ 'Configuration' | translate }}</span>
            </a>
            <li class="nested" [class.expand]="showMenu === 'pagesconfig'">
                <ul class="submenu">
                    <li>
                        <a href="javascript:void(0)">
                            <i class="fa fa-angle-double-right"></i>&nbsp;
                            <span>{{ "Zones d'intervention" | translate }}</span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">
                            <i class="fa fa-angle-double-right"></i>&nbsp;
                            <span>{{ 'Prix' | translate }}</span>
                        </a>
                    </li>
                </ul>
            </li>
        </div>
        <a routerLink="/signup" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-user-plus"></i>&nbsp;
            <span>Signup</span>
        </a>
        <a [routerLink]="['/roles']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-edit"></i>&nbsp;
            <span>{{ 'Role' | translate }}</span>
        </a>
        <a [routerLink]="['/users']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-wrench"></i> <i class="fa fa-user-secret"></i>&nbsp;
            <span>{{ 'Administration' | translate }}</span>
        </a>
        <div class="nested-menu">
            <a class="list-group-item" (click)="addExpandClass('pagescontenu')">
                <i class="fa fa-file"></i>&nbsp;
                <span>{{ 'Contenus' | translate }}</span>
            </a>
            <li class="nested" [class.expand]="showMenu === 'pagescontenu'">
                <ul class="submenu">
                    <li>
                        <a href="javascript:void(0)">
                            <i class="fa fa-angle-double-right"></i>&nbsp;
                            <span>{{ "Villes" | translate }}</span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">
                            <i class="fa fa-angle-double-right"></i>&nbsp;
                            <span>{{ "Centre d'aide" | translate }}</span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">
                            <i class="fa fa-angle-double-right"></i>&nbsp;
                            <span>{{ "Vidéos" | translate }}</span>
                        </a>
                    </li>
                </ul>
            </li>
        </div>
        <a [routerLink]="['/aides']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-users"></i>&nbsp;
            <span>{{ 'Aide Menageres ' | translate }}</span>
        </a>
        <a [routerLink]="['/partenaires']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-user-secret"></i>&nbsp;
            <span>{{ 'Partenaires' | translate }}</span>
        </a>
        <div class="nested-menu">
            <a class="list-group-item" (click)="addExpandClass('pagespromotion')">
                <i class="fa fa-tag"></i>&nbsp;
                <span>{{ 'Promotion' | translate }}</span>
            </a>
            <li class="nested" [class.expand]="showMenu === 'pagespromotion'">
                <ul class="submenu">
                    <li>
                        <a href="javascript:void(0)">
                            <i class="fa fa-angle-double-right"></i>&nbsp;
                            <span>{{ "Menu1" | translate }}</span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">
                            <i class="fa fa-angle-double-right"></i>&nbsp;
                            <span>{{ "Menu2" | translate }}</span>
                        </a>
                    </li>
                </ul>
            </li>
        </div>
        
        <a [routerLink]="['/clients']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-users"></i>&nbsp;
            <span>{{ 'Clients' | translate }}</span>
        </a>
        
        <a [routerLink]="['/missions']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-user-secret"></i>&nbsp;
            <span>{{ 'Missions' | translate }}</span>
        </a>
        
        <a href="#" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-star-half-o"></i>&nbsp;
            <span>{{ 'Rating' | translate }}</span>
        </a>
        <a href="#" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-file-text-o"></i>&nbsp;
            <span>{{ 'Facture' | translate }}</span>
        </a>
        
        <div class="nested-menu">
                <a class="list-group-item" (click)="addExpandClass('pagestemplate')">
                    <i class="fa fa-tag"></i>&nbsp;
                    <span>{{ 'Template' | translate }}</span>
                </a>
                <li class="nested" [class.expand]="showMenu === 'pagestemplate'">
                    <ul class="submenu">
                        <li>
                            <a [routerLink]="['/template/tables']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                                <i class="fa fa-angle-double-right"></i>&nbsp;
                                <span>{{ "tables" | translate }}</span>
                            </a>
                        </li>
                        <li>
                            <a [routerLink]="['/template/fiche']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                                <i class="fa fa-angle-double-right"></i>&nbsp;
                                <span>{{ "fiche" | translate }}</span>
                            </a>
                        </li>
                        <li>
                            <a [routerLink]="['/template/coupon']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                                <i class="fa fa-angle-double-right"></i>&nbsp;
                                <span>{{ "coupon" | translate }}</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </div>
            
        <!--a [routerLink]="['/users']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-user"></i>&nbsp;
            <span>Utilisateur</span>
        </a>
        <a [routerLink]="['/charts']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-bar-chart-o"></i>&nbsp;
            <span>{{ 'Charts' | translate }}</span>
        </a>
        <a [routerLink]="['/tables']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-table"></i>&nbsp;
            <span>{{ 'Tables' | translate }}</span>
        </a>
        <a [routerLink]="['/forms']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-edit"></i>&nbsp;
            <span>{{ 'Forms' | translate }}</span>
        </a>
        <a [routerLink]="['/bs-element']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-desktop"></i>&nbsp;
            <span>{{ 'Bootstrap Element' | translate }}</span>
        </a>
        <a [routerLink]="['/grid']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-wrench"></i>&nbsp;
            <span>{{ 'Bootstrap Grid' | translate }}</span>
        </a>
        <a [routerLink]="['/components']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-th-list"></i>&nbsp;
            <span>{{ 'Component' | translate }}</span>
        </a>
        <div class="nested-menu">
            <a class="list-group-item" (click)="addExpandClass('pages')">
                <i class="fa fa-plus"></i>&nbsp;
                <span>{{ 'Menu' | translate }}</span>
            </a>
            <li class="nested" [class.expand]="showMenu === 'pages'">
                <ul class="submenu">
                    <li>
                        <a href="javascript:void(0)">
                            <i class="fa fa-monument"></i>&nbsp;
                            <span>{{ 'Submenu' | translate }}</span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">
                            <i class="fa fa-monument"></i>&nbsp;
                            <span>{{ 'Submenu' | translate }}</span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">
                            <i class="fa fa-monument"></i>&nbsp;
                            <span>{{ 'Submenu' | translate }}</span>
                        </a>
                    </li>
                </ul>
            </li>
        </div>
        <a [routerLink]="['/blank-page']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-file-o"></i>&nbsp;
            <span>{{ 'Blank Page' | translate }}</span>
        </a>
        <a href="http://www.strapui.com/" class="list-group-item">
            <i class="fa fa-caret-down"></i>&nbsp;
            <span>{{ 'More Themes' | translate }}</span>
        </a-->

        <div class="header-fields">
            <a (click)="rltAndLtr()" class="list-group-item">
                <span><i class="fa fa-arrows-h"></i>&nbsp; RTL/LTR</span>
            </a>
            <div class="nested-menu">
                <a class="list-group-item" (click)="addExpandClass('languages')">
                    <span><i class="fa fa-language"></i>&nbsp; {{ 'Language' | translate }} <b class="caret"></b></span>
                </a>
                <li class="nested" [class.expand]="showMenu === 'languages'">
                    <ul class="submenu">
                        <li>
                            <a href="javascript:void(0)" (click)="changeLang('en')">
                                {{ 'English' | translate }}
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" (click)="changeLang('fr')">
                                {{ 'French' | translate }}
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" (click)="changeLang('ur')">
                                {{ 'Urdu' | translate }}
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" (click)="changeLang('es')">
                                {{ 'Spanish' | translate }}
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" (click)="changeLang('it')">
                                {{ 'Italian' | translate }}
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" (click)="changeLang('fa')">
                                {{ 'Farsi' | translate }}
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" (click)="changeLang('de')">
                                {{ 'German' | translate }}
                            </a>
                        </li>
                    </ul>
                </li>
            </div>
            <div class="nested-menu">
                <a class="list-group-item" (click)="addExpandClass('profile')">
                    <span><i class="fa fa-user"></i>&nbsp; John Smith</span>
                </a>
                <li class="nested" [class.expand]="showMenu === 'profile'">
                    <ul class="submenu">
                        <li>
                            <a href="javascript:void(0)">
                                <span><i class="fa fa-fw fa-user"></i> {{ 'Profile' | translate }}</span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <span><i class="fa fa-fw fa-envelope"></i> {{ 'Inbox' | translate }}</span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <span><i class="fa fa-fw fa-gear"></i> {{ 'Settings' | translate }}</span>
                            </a>
                        </li>
                        <li>
                            <a [routerLink]="['/login']" (click)="onLoggedout()">
                                <span><i class="fa fa-fw fa-power-off"></i> {{ 'Log Out' | translate }}</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </div>
        </div>
    </div>
    <div class="toggle-button" style="background-color: #e3e8ee" [ngClass]="{collapsed: collapsed}" (click)="toggleCollapsed()">
        <i class="fa fa-fw fa-angle-double-left"></i>&nbsp;
        <span>{{ 'Collapse Sidebar' | translate }}</span>
    </div>
</nav>
