<div class="panel panel-default content">
  <div class="panel-heading panel-heading-height-auto">
    <div>
      merbouhaaitamrane@gmail.com <span class="pull-right-container">
        <span class="label label-primary pull-right">CUSTOMER <i class=" fa fa-user"></i></span>
      </span></div>
    <div>
      <button class="btn btn-default  btn-xs"> <i class="fa fa-plus"></i> Add note</button>
      &nbsp;
      <button class="btn btn-default  btn-xs"> . . .</button>
    </div>
  </div>
  <div class="panel-body no-padding">
    <span class="label label-default pull-left"> <i class=" fa fa-user"></i></span>
    <div class="row">
      <div class="col-lg-8">
        Customer was created
      </div>
      <div class="col-lg-8">
        {{'12/12/2017'|date:"short"}}
      </div>
    </div>
  </div>
</div>