<div class="panel panel-default content"  [@routerTransition]>
    <div class="panel-heading">
      <label>Aides Ménagère</label>
      <span class="pull-right">
        <button class="btn btn-default  btn-xs"><i class="fa fa-plus" aria-hidden="true"></i>
          Ajouter</button>
      </span>
    </div>
    <div class="panel-body no-padding">
        <table class="table no-margin no-padding">
          <thead>
            <tr>
              <th>NOM</th>
              <th>SPECIALITE</th>
              <th>TEL</th>
              <th>VILLE</th>
              <th>BONUS</th>
              <th>NOTE</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Vanessa NDje</td>
              <td>LCD</td>
              <td>8983232</td>
              <td><div class="ville">Paris</div></td>
              <td>+2</td>
              <td>4</td>
            </tr>
          </tbody>
        </table>
    </div>
    <div class="panel-footer">
        <div class="text-center">
            <a href="">View More Event <i class="fa fa-arrow-right"></i></a>
        </div>
      </div>
  </div>
  