<app-partenaires-note [partenaire]="partenaire"></app-partenaires-note>
<app-partenaires-info [partenaire]="partenaire"></app-partenaires-info>
<app-partenaires-contact1></app-partenaires-contact1>
<app-partenaires-contact2></app-partenaires-contact2>
<app-partenaires-assurances></app-partenaires-assurances>
<app-partenaires-missions></app-partenaires-missions>
<app-partenaires-aides-menagere></app-partenaires-aides-menagere>
<div class="panel panel-default content"  [@routerTransition]>
  <div class="panel-heading">
    <label>Factures</label>

    <span class="pull-right">
      <button class="btn btn-default  btn-xs"><i class="fa fa-plus" aria-hidden="true"></i>
        Create invoice</button>
    </span>
  </div>
  <div class="panel-body no-padding">
    <div class="col-lg-12 no-padding">
      <table class="table col-lg-12 no-padding no-margin">
        <thead>
          <tr>
            <th>MONTANT</th>
            <th>NUMERO DE FACTURE</th>
            <th>STATUT</th>
            <th>CRÉÉE LE</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>86.50$</td>
            <td>JDAKJDJASDE9321</td>
            <td>Payé</td>
            <td>25/10/24</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="panel-footer">
      <div class="text-center">
          <a href="">View More Event <i class="fa fa-arrow-right"></i></a>
      </div>
    </div>
</div>