<div class="panel panel-default content">
  <div class="panel-heading">
    <Label>Moving Line Chart Example</Label>
  </div>
  <div class="panel-body no-padding">
      <div class="row chart">
          <div class="col-lg-3">
            <Label>Utilisateurs</Label>
            <p>10235</p>
        </div>
        <div class="col-lg-9">
          <canvas baseChart height="40" [datasets]="lineChartData1" [labels]="lineChartLabels" [options]="lineChartOptions"
            [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="lineChartType" (chartHover)="chartHovered($event)"
            (chartClick)="chartClicked($event)">
          </canvas>
        </div>
      </div>
      <div class="row chart chart-start">
          <div class="col-lg-3">
            <Label>Taux d'activation <i class="fa fa-info-circle"></i></Label>
            <p>16%</p>
        </div>
        <div class="col-lg-9">
          <canvas baseChart height="40" [datasets]="lineChartData2" [labels]="lineChartLabels" [options]="lineChartOptions"
            [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="lineChartType" (chartHover)="chartHovered($event)"
            (chartClick)="chartClicked($event)">
          </canvas>
        </div>
      </div>
      <div class="row chart chart-start">
          <div class="col-lg-3">
            <Label>Heures affectées</Label>
            <p>21 477</p>
        </div>
        <div class="col-lg-9">
          <canvas baseChart height="40" [datasets]="lineChartData3" [labels]="lineChartLabels" [options]="lineChartOptions"
            [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="lineChartType" (chartHover)="chartHovered($event)"
            (chartClick)="chartClicked($event)">
          </canvas>
        </div>
      </div>
      <div class="row chart chart-start">
        <div class="col-lg-3">
            <Label>Taux de récurrence <i class="fa fa-info-circle"></i></Label>
            <p>44,2%</p>
        </div>
        <div class="col-lg-9">
          <canvas baseChart height="40" [datasets]="lineChartData4" [labels]="lineChartLabels" [options]="lineChartOptions"
            [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="lineChartType" (chartHover)="chartHovered($event)"
            (chartClick)="chartClicked($event)">
          </canvas>
        </div>
      </div>
      <div class="row chart chart-start">
        <div class="col-lg-3">
            <Label>Taux d'attrition <i class="fa fa-info-circle"></i></Label>
            <p>1,1%</p>
        </div>
        <div class="col-lg-9">
          <canvas baseChart height="40" [datasets]="lineChartData5" [labels]="lineChartLabels" [options]="lineChartOptions"
            [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="lineChartType" (chartHover)="chartHovered($event)"
            (chartClick)="chartClicked($event)">
          </canvas>
        </div>
      </div>
  </div>
</div>