<form #updateForm="ngForm" (ngSubmit)="add(updateForm)" novalidate>
    <div class="panel panel-default content">
      <div class="panel-heading panel-heading-height-auto">
        <i class="fa fa-user"></i>&nbsp;
        <label>Ajouter un utilisateur</label>
      </div>
      <div class="panel-body modal-item-content">
          <div class="row form-group">
            <label class="label-form col-lg-4 text-right">Nom & Pr&eacute;nom(s) : </label>
            <input type="text" class="form-control col-lg-7" required name="fullname" [(ngModel)]="user.fullname"
              #username="ngModel">
          </div>
          <div class="row form-group">
            <label class="label-form col-lg-4 text-right">Nom utilisateur : </label>
            <input type="text" class="form-control col-lg-7" required name="username" [(ngModel)]="user.username"
              #username="ngModel">
          </div>
        <div class="row form-group">
          <label class="label-form col-lg-4 text-right">Email : </label>
          <input type="text" class="form-control col-lg-7" required name="email" [(ngModel)]="user.email"
            #email="ngModel">
        </div>
        <div class="row form-group">
          <label class="label-form col-lg-4 text-right">Tel : </label>
          <input type="text" class="form-control col-lg-7" required name="phoneNumber" [(ngModel)]="user.phoneNumber"
          #phoneNumber="ngModel">
        </div>
      </div>
      <div class="panel-footer text-right">
        <button class="btn btn-success" (click)="update(updateForm)">Valider</button>&nbsp;
        <button class="btn btn-danger" (click)="activeModal.close('Close click')">Quitter</button>
      </div>
    </div>
  </form>