<app-fiche-note></app-fiche-note>
<app-fiche-info></app-fiche-info>
<app-fiche-adresse></app-fiche-adresse>
<app-fiche-paiement-default></app-fiche-paiement-default>
<app-fiche-profil-pro></app-fiche-profil-pro>
<app-fiche-paiement-pro></app-fiche-paiement-pro>
<app-fiche-missions></app-fiche-missions>
<app-fiche-aide-menagere></app-fiche-aide-menagere>
<app-fiche-discount></app-fiche-discount>
<app-fiche-facture></app-fiche-facture>
<app-fiche-graph></app-fiche-graph>