<div class="panel panel-default content">
  <div class="panel-heading">
    <label>Missions</label>
    <span class="pull-right">
      <button class="btn btn-default  btn-xs"><i class="fa fa-plus" aria-hidden="true"></i>
        Ajouter</button>
    </span>
  </div>
  <div class="panel-body no-padding">
      <table class="table no-margin no-padding">
        <thead>
          <tr>
            <th>RÉFÉRENCE</th>
            <th>DATE D'INTERVENTION</th>
            <th>AIDE MÉNAGÉRE</th>
            <th>PRIX</th>
            <th>ABONNÉ</th>
            <th></th>
            <th>NOTE</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>MI006765</td>
            <td>22-11-2017 14:30</td>
            <td>Aline Odette</td>
            <td>44,00$</td>
            <td></td>
            <td> <label class="label label-success">Terminer</label></td>
            <td>4</td>
          </tr>
          <tr>
            <td>MI006766</td>
            <td>22-11-2017 16:30</td>
            <td>Faty Ndeye</td>
            <td>24,50$</td>
            <td>
              <i class="fa fa-check-square-o" aria-hidden="true"></i>
            </td>
            <td> <label class="label label-warning">Assigné</label></td>
            <td></td>
          </tr>
        </tbody>
      </table>
  </div>
</div>
