<div class="panel panel-default content">
  <div class="panel-heading">
    <label class="">Discount</label>

    <span class="pull-right">
      <button class="btn btn-default  btn-xs"><i class="fa fa-pencil" aria-hidden="true"></i>
        Change coupon</button>&nbsp;
      <button class="btn btn-default  btn-xs"><i class="fa fa-remove" aria-hidden="true"></i>
        Remove coupon</button>
    </span>
  </div>
  <div class="panel-body no-padding">
    <div class="col-lg-12 no-padding no-margin">
      <table class="table col-lg-12 no-margin">
        <thead>
          <tr>
            <th>COUPON</th>
            <th>OPÉRATION</th>
            <th>CONDITIONS</th>
            <th>UTILISATIONS</th>
            <th>DATE EXPIRATION</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>GZXNDE32</td>
            <td>Promo Week-end 10-07-08</td>
            <td>10% de réduction</td>
            <td>1/4</td>
            <td>25/10/2018 23:00</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>