<div class="panel panel-default content" [@routerTransition]>
    <div class="panel-heading">
      <label>Infos Partenaire</label>
      <span class="pull-right">
        <span class="pull-right">
          <button class="btn btn-default  btn-xs" (click)="open()"><i class="fa fa-pencil" aria-hidden="true"></i>
            Update details</button>
        </span>
      </span>
    </div>
    <div class="panel-body no-padding">
      <div class="col-lg-6 col-sm-6 form-group">
          <div class="row">
            <label class="col-lg-4 col-sm-4 font-weight-normal">Société</label>
            <label>{{partenaire.societe}}</label>
          </div>
          <div class="row">
            <label class="col-lg-4 col-sm-4 font-weight-normal">Adresse</label>
            <label>{{partenaire.adresse}}</label>
          </div>
          <div class="row">
            <label class="col-lg-4 col-sm-4 font-weight-normal">Profil</label>
            <label>PME</label>
          </div>
          <div class="row">
            <label class="col-lg-4 col-sm-4 font-weight-normal">Spécialité</label>
            <label *ngFor="let competence of partenaire.competences">{{competence}}-</label>
          </div>
          <div class="row">
            <label class="col-lg-4 col-sm-4 font-weight-normal">Note moyenne</label>
            <label>4.2</label>
          </div>
      </div>
      <div class="col-lg-6 col-sm-6 form-group">
          <div class="row">
            <label class="col-lg-4 col-sm-4 font-weight-normal">Siren</label>
            <label>985 432 213</label>
          </div>
          <div class="row">
            <label class="col-lg-4 col-sm-4 font-weight-normal">Numéro de TVA</label>
            <label>943324323432432</label>
          </div>
          <div class="row">
            <label class="col-lg-4 col-sm-4 font-weight-normal">IBAN</label>
            <label>432499438342812394324023</label>
          </div>
          <div class="row">
            <label class="col-lg-4 col-sm-4 font-weight-normal">BIC</label>
            <label>CKEMDASDO</label>
          </div>
          <div class="row">
            <label class="col-lg-4 col-sm-4 font-weight-normal">Agrément NOVA</label>
            <label></label>
          </div>
      </div>
    </div>
  </div>