<div class="panel panel-default content" *ngIf="mission" [@routerTransition]>
  <div class="panel-heading panel-heading-height-5">
    <div class="col-lg-6 col-sm-6 form-group no-padding no-margin">
      <label class="no-padding no-margin">{{mission.rdvDate | date:"short"}}</label>
      <div>
        <button class="btn btn-default  btn-xs" (click)="openNote(mission)"> <i class="fa fa-plus"></i> Add note</button>
        &nbsp;
          <button class="btn btn-default btn-xs"  id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
             . . .</button>
          <div class="dropdown-menu" *ngIf="(mission.statut != 'Termine' && mission.statut !='Assigne')" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item"  (click)="openEnd(mission)"  >Terminer la mission</a>
            <a class="dropdown-item" (click)="openCancel(mission)" >Annuler la mission</a>
          </div>
      </div>
    </div>
    <div class="col-lg-6 col-sm-6 form-group text-right no-padding no-margin">
      <label class="label display-inline-block label-primary">MISSIONS <i class="fa fa-book"></i></label>
      <div>
        <button class="btn btn-default  btn-xs">T&eacute;l&eacute;charger contrat</button>
      </div>
    </div>
  </div>
  <div class="panel-body no-padding">

    <span class="label label-success pull-left"> <i class=" fa fa-book"></i></span>

    <div class="row col-lg-6 col-sm-6">
      <div class="col-lg-8 col-sm-8">
        {{mission.commentaires}}
      </div>
      <div class="col-lg-8 col-sm-8">
        {{mission.cmdDate|date:"short"}}
      </div>
    </div>
    <div class="row col-lg-6 col-sm-6 text-right">
        <div class="form-group margin-top-1 col-lg-12 col-sm-12 text-right no-margin no-padding">
            <div   *ngIf="mission.statut=='Assigne'">
              <label class="label label-warning">Assigné</label>
            </div>
            <div   *ngIf="mission.statut=='Termine'">
                <label class="label label-success">Terminé</label>
            </div>
            <div   *ngIf="mission.statut=='Alerte'">
                <label class="label label-danger">Alerte</label>
            </div>
            
          </div>
    </div>
  </div>
</div>
